{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% comment %}if page.sidebar %}{% endcomment %}
  {% for s in page.sidebar %}
    {% if s.image %}
      <img src=
      {% if s.image contains "://" %}
        "{{ s.image }}"
      {% else %}
        "{{ s.image | absolute_url }}"
      {% endif %}
      alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
    {% endif %}
    {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
    {% if s.text %}{{ s.text | markdownify }}{% endif %}
  {% endfor %}
  <ul class="list-inline social-buttons">
    {% for network in s.social %}
      <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
    {% endfor %}
  </ul>
  {% if page.sidebar.nav %}
    {% include nav_list nav=page.sidebar.nav %}
  {% endif %}
  {% comment %}{% endif %}{% endcomment %}
  </div>
{% endif %}