.active-sideitem {
	font-size: 1.25em;
	margin: 7px;
    padding: 0.05em 0.5em 0.05em 0.5em;
    color: #fff;
    font-weight: bold;
    background: #7a8288;
    border-radius: 4px;
}

.inactive-sideitem {
	color: #000;
	font-size: 1.25em;
	margin: 7px;
}

.no-padding {
	padding: 0;
}

.zigzag-image {
	width: 20% !important;
	display: block;
	margin: 2%;
}

.alternate {
    clear: both;  /* make every new alternate startbeneath the previous */
    padding-top: 15px;
    text-align: justify;
}

.alternate img {
    display: block;
    width:25% !important;
    float: right;
}

/* float odd pictures to the left */
.alternate:nth-child(2n+1) img {
    float: left;
}

/* float even pictures to the right */
.alternate:nth-child(2n) img {
    float: right;
}

.navtable-row {
	height: auto;
	overflow: auto;
}

.navtable-col {
	float: left;
	margin: 0 2%;
}

.navtable-last {
	float: right;
	margin: 0 2%;
}

.toc-nav-flow {
	text-align: center;
    li {
    	padding: 0em;
    }
	@media screen and (max-width: 1024px) {
    	text-align: center;
        li {
        	display: inline;
        	padding: 0 0.5em;
        }
	}
}